{
  "openapi": "3.1.0",
  "info": {
    "title": "Real Result Marketing & Technology Solutions API",
    "version": "1.0.0",
    "description": "Programmatic API for Real Result Marketing (https://realresult.in). Supports health monitoring, AI agent discoverability, and regional corporate inquiries.",
    "contact": {
      "name": "Real Result Engineering Desk",
      "url": "https://realresult.in/contact",
      "email": "hello@realresult.in"
    }
  },
  "servers": [
    {
      "url": "https://realresult.in",
      "description": "Production Cloudflare Edge Server"
    }
  ],
  "paths": {
    "/api/health": {
      "get": {
        "summary": "Health and Connectivity Verification",
        "description": "Returns operational health, deployment timestamp, and serving Cloudflare edge data center.",
        "responses": {
          "200": {
            "description": "System is operational",
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "status": { "type": "string", "example": "healthy" },
                    "domain": { "type": "string", "example": "realresult.in" },
                    "environment": { "type": "string", "example": "production" },
                    "timestamp": { "type": "string", "format": "date-time" },
                    "colo": { "type": "string", "example": "MAA" }
                  }
                }
              }
            }
          }
        }
      }
    },
    "/api": {
      "get": {
        "summary": "Commercial Agent API Gateway",
        "description": "Agent-native programmatic API with x402 payment protocol support.",
        "responses": {
          "402": {
            "description": "Payment Required via x402 protocol (USDC micropayment on Base)",
            "headers": {
              "PAYMENT-REQUIRED": {
                "schema": { "type": "string" },
                "description": "Base64-encoded x402 payment requirements"
              }
            },
            "content": {
              "application/json": {
                "schema": {
                  "type": "object",
                  "properties": {
                    "x402Version": { "type": "integer", "example": 1 },
                    "accepts": { "type": "array" }
                  }
                }
              }
            }
          },
          "200": {
            "description": "Payment verified access granted",
            "content": {
              "application/json": {
                "schema": { "type": "object" }
              }
            }
          }
        }
      }
    },
    "/api/v1": {
      "get": {
        "summary": "Commercial Agent API Gateway v1",
        "description": "Agent-native programmatic API v1 with x402 payment protocol support.",
        "responses": {
          "402": {
            "description": "Payment Required via x402 protocol",
            "headers": {
              "PAYMENT-REQUIRED": {
                "schema": { "type": "string" },
                "description": "Base64-encoded x402 payment requirements"
              }
            }
          },
          "200": {
            "description": "Payment verified access granted"
          }
        }
      }
    }
  }
}
